allow surfaceflinger platform_app:process {getattr};
allow surfaceflinger bootanim:dir r_dir_perms;
allow surfaceflinger system_app:process {getattr};
allow surfaceflinger system_server:process {getattr};

